In [21]:
import pandas as pd
import numpy as np
from statsmodels.stats.weightstats import ztest as ztest

In [22]:
df = pd.read_csv('data/blood_pressure.csv')
df

        before       after
0   136.713072   92.432965
1   134.735618  105.022643
2   127.529115   82.242766
3   144.527126   93.607172
4   124.214720  103.212223
..         ...         ...
95  120.302824   85.128581
96  134.806478  106.925426
97  144.919839   83.105975
98  139.673854   87.560306
99  138.389444   99.392115

[100 rows x 2 columns]

In [23]:
df['difference']=df['after']-df['before']
df

        before       after  difference
0   136.713072   92.432965  -44.280107
1   134.735618  105.022643  -29.712975
2   127.529115   82.242766  -45.286349
3   144.527126   93.607172  -50.919953
4   124.214720  103.212223  -21.002497
..         ...         ...         ...
95  120.302824   85.128581  -35.174243
96  134.806478  106.925426  -27.881053
97  144.919839   83.105975  -61.813863
98  139.673854   87.560306  -52.113548
99  138.389444   99.392115  -38.997329

[100 rows x 3 columns]

In [30]:
ztest(list(df['difference']),value=0,alternative='two-sided')

(-27.29184176756024, 5.301153610177836e-164)

Como pi value<alfa, rechazamos la hipotesis nula. Es decir al 99,9999999...% de probabilidades rechazamos que Ua-Ub=0

In [31]:
ztest(list(df['difference']),value=0,alternative='larger')

(-27.29184176756024, 1.0)

Pi value =1, no podemos rechazar la hipotesis nula. Por lo tanto, U>0 no es aceptable

In [32]:
ztest(list(df['difference']),value=0,alternative='smaller')

(-27.29184176756024, 2.650576805088918e-164)

De nuevo rechazamos la hipotesis nula (u=0), por lo tanto, nos quedamos con la alternativa (u<0). Es decir Uafter - Ubefore < 0.
Es decir, la media de presiones despues es menor que la de antes.