In [37]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from statsmodels.stats.weightstats import ztest,zconfint
from statsmodels.stats.proportion import proportions_ztest

In [4]:
df=pd.read_csv('data/house_prices.csv')
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [9]:
H0=df['SalePrice'].mean()
H0

180921.19589041095

In [17]:
#¿Es el precio medio de venta de una casa en la zona estudiada mayor de 180K€?
ztest(df['SalePrice'], value=180000,alternative='larger')

(0.44307321990459303, 0.3288563873974769)

Como el valor pi es mayor que alfa (sea 0'001, 0'05 o 0'1), no rechazamos la hipotesis nula.Y por lo tanto, la media de precio de pisos es de 180K €.

In [31]:
zconfint(df['SalePrice'],alpha=0.0005)

(173684.33671870158, 188158.05506212031)

Como 180.000 está dentro del rango, no podemos recahzar la hipotesis nula. Por lo tanto, no podemos confirmar que la media sea mayor a 180K.

In [69]:
#El 10% de las casas vendidas son nuevas
count=len(df[(df['SaleType']=='New')])
obs=len(df['SaleType'])
significance = 0.05
null_hypothesis = 0.1

proportions_ztest(count=count, nobs=obs, value=null_hypothesis)

#Como pi value> significance, no podemos rechazar la hipotesis nula. Por lo tanto, no podemos rechazar que el 10% de las ventas sean casas nuevas.

(-2.269758742455338, 0.023222225093285084)